@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap'); 

.header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: #f0e0c0;
    padding: 0 2%; 
    border-bottom: 2px solid#800020;
}

.leftSide {
    display: flex; 
    align-items: center;
}

.leftSide img {
    width: 90px;
    transition: transform 0.8s ease-in-out; 
    cursor: pointer;
}

.leftSide img:hover {
    transform: scale(1.1); 
}

.title {
    flex-grow: 1; 
    display: flex; 
    justify-content: center; 
}

.title h2 {
    font-family: 'Playfair Display', serif; 
    text-decoration: none;
    font-size: 40px;
    color: #800020;
}

.rightSideHeader {
    display: flex;
    align-items: center; 
}

.rightSideHeader a {
    padding: 0 15px; 
    text-decoration: none;
    color: #556B2F;
    font-family: 'Playfair Display', serif; 
    transition: transform 0.3s ease, color 0.3s ease;
}

.rightSideHeader a:hover {
    color: #E2725B; 
    transform: translateY(-3px); 
}


@media (max-width: 768px) {
    .header {
        flex-direction: column; 
        height: auto;
        padding: 10px; 
    }

    .title h2 {
        font-size: 30px; 
    }

    .rightSideHeader a {
        padding: 10px; 
    }
}
