@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
*{
    font-family: 'Playfair Display', serif; 
}
.MidSection{
    height:7%;
}
.MidSection img{
    width:100%;
}
.MidSection .Btn{
    position:absolute;
    top:90%;
    left:10%;
    transform:translate(-50%,-50%);
    font-size: 20px;
    padding:15px 15px 15px 15px;
    margin:10px #000000;
   
    color:#556B2F;
    background-color: #f0e0c0ac;
    transition: transform 0.3s ease; 

}
.MidSection .Btn:hover{
   transform: translate(-50%, calc(-60% - 4%));
   color:#425c16;
   background-color: #423212ac;
   border: 1px solid #556B2F;
}

